#deldesc {
  color: black;
  font-family: "Indie Flower", cursive;
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 0.5rem;
  text-align: center;
}
#generalhd1 {
    font-family: "Indie Flower", cursive;
    color: black;
    font-size: 2.3rem;
    margin: 1rem 1.2rem 0.5rem 1.2rem;
    text-shadow: 1px 1px rgb(255, 180, 94);
}
#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    grid-area: desc;
    width: 30vw;
    /* background: khaki; */
    float: right;
    height: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
#deliveryimg{
    width: 29%;
    margin: 1.3rem 0;
    height: 50vh;
    position: relative;
    grid-area: img;
    box-shadow: 1px 1px 10px rgb(245, 229, 143);
    left: 30%;
    
}

#sectionthree{
    grid-template-areas: 
    'img img img img desc'
    ;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    
}
#deliveryimg::after{
    content: '';
    width: 20%;
    height: 20%;
    position: absolute;
    background: url('delivery.jpg') no-repeat center center/cover;
    z-index: 2;
}
#deliveryimg1{
    height: 60vh;
    width: 50%;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    box-shadow: 1px 1px 10px rgb(245, 229, 143);
}
#generalhd1{
    animation-name: del;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0.2;
    animation-direction: reverse;
}
#deldesc{
    animation-name: del;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0.2;
    animation-direction: reverse;
}

@keyframes del {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.15;
    }
    75%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
        transform: translateY(60px);
    }
}
@media (max-width:1180px){
    #deliveryimg{
        height: 35vh;
    }
    #deliveryimg1{
        height: 50vh;
    }

}
@media (max-width:850px){
    #sectionthree{
        display: grid;
        grid-template-areas:
        'img'
        'desc'
        ;
        place-items: center;
    }
    #deliveryimg1{
        width: 43%;
        height: 46vh;
        left: 22%;
    }
    #deliveryimg{
        width: 37%;
        height: 40vh;
        left: 0;
    }
    #description{
        width: 90vw;
        
    }
    
}
@media (max-width:800px){
    #deliveryimg{
        height: 40vh;
        width: 70vw;
    }
    #deliveryimg1{
        height: 45vh;
        width: 75vw;
        left: 5vw;
    }
}
#faq{
   margin: 1.3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 3rem;
   margin-top: 2rem;
}
#faqs{
    color: rgb(80, 80, 80);
    font-family: "Ubuntu", sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    margin: 2.5rem;
    margin-top: 6rem;
}
.btn:hover{
    transform: scale(1.1);
}
.faqtext{
    color: gray;
    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;
    border-bottom: 7px;
    box-shadow: 1px 1px 6px grey;
    padding: 1.5rem;
    border-radius: 3rem;
    margin: 0.6rem;
    width: 60vw;
}
.btn{
    width: 5%;
    float: right;
}
.btn1{
    width: 5%;
    float: right;
    display: none;
}
.btn1:hover{
    transform: scale(1.1);
}
.answers{
    display: none;
}
@media (max-width:670px){
    .faqtext{
        width: 70vw;
    }
}


.footer{
    background: rgb(20, 12, 54);
}
.footer > h1{
    
    font-family: "Roboto", sans-serif;
    padding: 1.2rem;
    margin: 2rem;
    text-align: center;
    font-size: 2.8;
}
.footer>p{
    text-align: center;
    font-size: 1.3rem;
}
.svgicons{
    height: 2rem;
    width: 2rem;
    margin: 1.6rem;
    padding: 1.1rem;
}
#icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.svgicons:hover{
    transform: scale(1.2);
}
@media (max-width:461px){
    #icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
.bottomfooter{
    
    background: rgb(20, 3, 27);
}
.bottomfooter>p{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    padding: 2rem;
}